<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Mixer</title>
  <link rel="stylesheet" href="https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <header :style="colorTransparent">
      <form>
        <input v-model="valueRed" type="range" name="red" id="red" step="1" min="0" max="255" value="255">
        <input v-model="valueGreen" type="range" name="green" id="green" step="1" min="0" max="255" value="165">
        <input v-model="valueBlue" type="range" name="blue" id="blue" step="1" min="0" max="255" value="0">
        <button @click.prevent="changeRandom">Random Color</button>
      </form>
      <p id="rgb">RGB ({{valueRed}}, {{valueGreen}}, {{valueBlue}})</p>
    </header>
    <main :style="color"></main>
  </div>
  <script src="https://unpkg.com/vue@latest"></script>
  <script src="script.js"></script>

</body>

</html>